.Dictionary h1 {
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}
.Dictionary section {
    background: whitesmoke;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.Dictionary input {
    width: 100%;
    padding: 8px 6px;
    border: 1px solid #6258c1;
    color: #6258c1;
    border-radius: 6px;
}
.Dictionary .hint {
    font-size: 13px;
    margin-top: 12px;
    
}
.Results h2 {
   font-size: 40px;
   font-weight: bold;
   line-height: 1.5;
}
.Phonetic {
    margin: 20px 0;
}
.Phonetic a {
    border:1px solid #6258c1;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 150ms ease-in-out;   
}

.Phonetic a:hover {
    background: #6258c1;
    color: white;
}
.Phonetic .text {
    opacity: 0.7;
    font-weight: bold;
}
.Meaning h3{
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
}
.Meaning .definition{
    font-size: 20px;
    margin-top: 10px;
}
.Meaning .definition strong {
    color: #6258c1;
}
.Meaning .example{
    opacity: 0.7;
    font-style: italic;
} 
.Synonyms {
    margin: 10px 0 0;
    padding: 0;
} 
.Synonyms li {
    font-size: 18px;
    display: inline-block;
    padding-right: 10px;
    line-height: 1;
    color: #6258c1;

}